POSTGRES_DB=ai_biolab
POSTGRES_USER=ai_biolab
POSTGRES_PASSWORD=ai_biolab
POSTGRES_PORT=15433

API_PORT=8001
REACT_APP_API_URL=http://localhost:8001
FRONTEND_PORT=3000

MOCK_SLEEP_SECONDS=3
MAX_PARALLEL_RUNS=2
MAX_QUEUE_SIZE=10
SECURE_COOKIE=false
