POSTGRES_DB=ai_biolab
POSTGRES_USER=ai_biolab
POSTGRES_PASSWORD=ai_biolab
POSTGRES_PORT=15433

API_PORT=8001
FRONTEND_PORT=3000
REACT_APP_API_URL=http://localhost:8001

CGAN_N_TRAJECTORIES=100
AGENT_START_DAY=2020-03-12
AGENT_RAND_SEED=1
AGENT_MODEL_VERSION=covasim-3.1.8-adapter-1
AGENT_MAX_INTERVENTIONS=50

MOCK_SLEEP_SECONDS=3
MAX_PARALLEL_RUNS=2
MAX_QUEUE_SIZE=10
SECURE_COOKIE=false
